
          <div class="center" >
    <img src="./assets/img/banner/user-male-circle.png" alt="Avatar" style="width:20%">
    <h1>Username</h1>
       <p>secteur</p>
       <div class="rating">
        <div class="stars">
          <i class="fa fa-star "></i>
          <i class="fa fa-star "></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
   </div>

</div>
<div class="row">
   <div class="leftcolumn">
     <div class="card">
       <h2>description</h2>
       <p>Some text..</p>
     </div>
     <div class="cad">
       <h2>Experience</h2>
       <ol class="steps">
        <li>experience1</li>
        <li>experience2</li>
        
      </ol>
   </div>
   <div class="cad">
    <h2>Formation</h2>
    <ol class="steps">
     <li>formation1</li>
     <li>formation2</li>
     
   </ol>
</div>
   </div>
   <div class="rightcolumn">
          <div class="card" style="background-color: rgb(43, 226, 134);">
            <h2>About me</h2>
           <h5>country/city</h5>
           <h5>number </h5>
           <h5>email</h5>
            
          </div>
   </div>
</div>
    