<body>
    <div class="wrapper">
       <app-sadf></app-sadf>
        <div id="content">
            <app-navf></app-navf> 
            <div id="Developmmet">
                <div class="card card-body">
                 
                    <div class="row">
                        <div class="col-sm-9">
                   <ul>
                        <li> 
                            
                              <h3>Developmmet</h3>
                                <h2 class="text" style="color: rgb(92, 47, 175);"> Ingénieur Développement Logiciel Industriel</h2> 
                                
                    <h3 style="color: rgb(0, 140, 255);"><span style="font-size: 20px; color: black;">by</span>dev-A Consulting</h3>
                    <span> 2021-06-19</span>
                    <p> Le poste à pourvoir est basé à Bordeaux (33). Editeur de progiciel et société d'ingénierie, notre client est une entreprise à taille humaine (100 pers) reconnue pour le haut niveau de technicité de ses équipes et sa capacité à intervenir sur de grands projets complexes et d'envergure. Dans le cadre du développement de son ...</p>
                    
                </li>
                </ul>
                   </div>
                   <div class="col-sm-2">
                    <h5 style="color: rgb(7, 228, 136);">terme of job: </h5><span>long-terme</span>
                    <HR>
               
                    <h5 style="color: rgb(7, 228, 136);">Level of experience:
                    </h5><span>Expert</span>
                    <HR>
               
                    <h5 style="color: rgb(7, 228, 136);">Budget: </h5><span>1000dt</span>     </div>
                </div>
                
                        </div>
                </div>
        </div>
    </div>
</body>